nav a {
    text-decoration: none;
    font-size: larger;
    margin: auto;
    padding: 10px;
    color: black;
}

nav {
    padding-left: 2%;
}

#loginbutton {
    float: right;
    padding-right: 8%;
}
nav a:hover {

    color: grey;
}
/* make the images on the pages display within the card in a grid */
/* .card-columns {
    column-count: 2;
}
.card-columns .card {
    display: inline-block;
    width: 100%;
} */
.card-img, .card-img-bottom {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
/* make a 2x2 css grid within the card-body class */
.card-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
}
