nav a {
    
    text-decoration: none !important;
    font-size: larger !important;
    margin: auto !important;
    padding: 10px !important;
    color: black !important;
  }
  
  nav {
    
    padding-left: 2% !important;
  }
  
  nav a:hover {
    
    color: grey !important;
  }
#loginbutton {
    
    float: right !important;
    padding-right: 8% !important;
  }