nav a {
    
    text-decoration: none !important;
    font-size: larger !important;
    margin: auto !important;
    padding: 10px !important;
    color: black !important;
  }
  
  nav {
    
    padding-left: 2% !important;
  }
  
  nav a:hover {
    
    color: grey !important;
  }
#loginbutton {
    
    float: right !important;
    padding-right: 8% !important;
  }
.row{
  /* margin: auto !important; */
  justify-content: center;
}
#cards img:hover { 
  -o-transition:.1s;
  -ms-transition:.1s;
  -moz-transition:.1s; 
  -webkit-transition:.1s; 
  transition:.1s; 
  box-shadow: 2px 2px 3px rgb(128, 122, 122); 
}

