nav a {
    text-decoration: none;
    font-size: larger;
    margin: auto;
    padding: 10px;
    color: black;
}

nav {
    padding-left: 2%;
}

#loginbutton {
    float: right;
    padding-right: 8%;
}
nav a:hover {

    color: grey;
}